.btnHombre::after,
.btnMujer::after {
    content: "";
    width: 100%;
    position: absolute;
    height: 100%;
    border-radius: 3px;
    z-index: -1;
    transform: scale(0);
    pointer-events: none;
}

.btnHombre:hover::after,
.btnMujer:hover::after {
    bottom: -7px;
    right: -7px;
    border: 2px solid #D3EED2;
}

.hero {
    display: flex;
    height: 90vh;
    background: linear-gradient(45deg, #62A869, #62A869, #9adb9f, #62A869, #62A869);
    background-size: 400% 400%;
    animation: fondoHero 12s ease-in-out infinite;
}

.heroDivUno {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 1rem;
    width: 85vw;
    margin: 0 auto;
}

.heroDivUno h2 span {
    color: white;
    font-size: 1.2rem;
}

.heroDivDos {
    height: 27vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.heroTexto {
    height: 17vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.heroTexto h4 {
    color: white;
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    margin-top: 0.7rem;
}

.heroTexto h1 {
    letter-spacing: 0.05rem;
    font-size: 1.8rem;
    margin-left: 0.3rem;
}

.heroTexto p {
    letter-spacing: 0.02rem;
    font-weight: 700;
    font-size: 0.8rem;
    margin-left: 0.3rem;
}

.heroBotones {
    display: flex;
    gap: 1.2rem;
    margin-left: 0.3rem;
}

.btnHombre,
.btnMujer {
    background-color: #000000;
    color: #bebebe;
    outline: none;
    height: 2.5rem;
    width: 10rem;
    border:none;
    border-radius: 3px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    position: relative;
}

.heroSiguiente {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 700;
    cursor: pointer;
}

.flechaSiguiente {
    font-size: 1.7rem;
    font-weight: 800;
}

/* filter: drop-shadow para dar sombra a img */

@keyframes fondoHero {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }

}