.btnHombre::before,
.btnHombre::after,
.btnMujer::before,
.btnMujer::after {
    position: absolute;
    content: "";
}


.btnHombre::before,
.btnMujer::before {
    height: 0%;
    width: 2px;
}

.btnHombre::after,
.btnMujer::after {
    width: 0%;
    height: 2px;
}

.btnHombre:hover,
.btnMujer:hover {
    background: transparent;
    opacity: 0.9;
    box-shadow: none;
}

.btnHombre:hover:before,
.btnMujer:hover:before {
    height: 100%;
}

.btnHombre:hover:after,
.btnMujer:hover:after {
    width: 100%;
}

.btnHombre span:hover,
.btnMujer span:hover {
    color: #000;
}

.btnHombre span:before,
.btnHombre span:after,
.btnMujer span:before,
.btnMujer span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: #000;
    transition: all 0.3s ease;
}

.btnHombre span:before,
.btnMujer span:before {
    width: 2px;
    height: 0%;
}

.btnHombre span:after,
.btnMujer span:after {
    width: 0%;
    height: 2px;
}

.btnHombre span:hover:before,
.btnMujer span:hover:before {
    height: 100%;
    transition: all 0.7s ease-in-out;
}

.btnHombre span:hover:after,
.btnMujer span:hover:after {
    width: 100%;
    transition: all 0.7s ease-in-out;
}

.hero {
    display: flex;
    height: 88vh;
    background: linear-gradient(45deg, #62A869, #62A869, #9adb9f, #62A869, #62A869);
    background-size: 400% 400%;
    animation: fondoHero 12s ease-in-out infinite;
    overflow: hidden;
}

.divHero {
    width: 85vw;
    margin: 0 auto;
    display: flex;
    border: 1px solid red;
}

.heroDivUno {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 1rem;
    width: 85vw;
    margin: 0 auto;
}

.heroDivUno h2 span {
    color: white;
    font-size: 1.2rem;
}

.heroDivDos {
    height: 28vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.heroTexto {
    height: 17vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.heroTexto h4 {
    color: white;
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    margin-top: 0.7rem;
}

.heroTexto h1 {
    letter-spacing: 0.05rem;
    font-size: 1.8rem;
    margin-left: 0.3rem;
}

.heroTexto p {
    letter-spacing: 0.02rem;
    font-weight: 700;
    font-size: 0.8rem;
    margin-left: 0.3rem;
}

.heroBotones {
    display: flex;
    gap: 1.2rem;
    margin-left: 0.3rem;
}

.btnHombre,
.btnMujer {
    background-color: #000;
    color: #bebebe;
    border: none;
    outline: none;
    height: 2.5rem;
    width: 10rem;
    border-radius: 3px;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}


.btnHombre span,
.btnMujer span {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heroSiguiente {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 700;
    cursor: pointer;
}

.flechaSiguiente {
    font-size: 1.7rem;
    font-weight: 800;
}

.imgHero {
    height: 99%;
    margin-right: 10rem;
    margin-top: -1rem;
    transform: rotate(25deg);
}

/* filter: drop-shadow para dar sombra a img */

@keyframes fondoHero {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }

}