.hero {
    display: flex;
    height: 90vh;
    background: linear-gradient(45deg,#62A869,#62A869,#62A869,#62A869,#82C688,#82C688,#8ECE92,#B6F2B2);
    /*  ,*/
    background-size: 400% 400%;
    animation: fondoHero 10s ease-in-out infinite;
}

.heroDivUno {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 1rem;
    width: 85vw;
    margin: 0 auto;
}

@keyframes fondoHero {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }

}